################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/SalaryCompare/Debug
/SalaryCompare/.vs/SalaryCompare/v14
/SalaryCompare/ipch/SALARYCOMPARE-59e8293f
/SalaryCompare/SalaryCompare/Debug
*.aps
*.db
*.opendb
/SalaryCompare/ipch/SALARYCOMPARE-d1c50b4e
/SalaryCompare/SalaryCompare/Release
/SalaryCompare/Release
/Arithmetic/List/.vs/List/v14
/Arithmetic/List/Debug
/Arithmetic/List/List/Debug
/AutoSolution/.vs/AutoSolution/v15
/AutoSolution/Debug
/AutoSolution/Release
/AutoSolution/optimal_solution.txt
/GLogTests/.vs/GLogTests/v16
/GLogTests/x64/Debug
*.user
/SalaryCompare/.vs/SalaryCompare/v16
/SalaryCompare/SalaryCompare/x64/Debug
/SalaryCompare/x64/Debug
